<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
    <rewrite>
        <!-- 
            <rules>
                <rule name="No HTTPS for user agent AlwaysOn and Root of site" stopProcessing="true">
                    <match url="^$"/>
                    <conditions>
                        <add input="{HTTP_USER_AGENT}" pattern="^AlwaysOn$" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Redirect to HTTPS" stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                    <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
            </rule>
        </rules> -->
    </rewrite>
    <staticContent>
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>
